<div class="form-container">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
<!--      <mat-card-content class="grid grid-cols-2 gap-4">-->
        <div class=" bg-red-500">
          <label class="mat-form-field" for="firstName">Prenom</label>
          <input matInput type="text" id="firstName" formControlName="firstName">
          <div *ngIf="userForm.get('firstName')?.invalid && userForm.get('firstName')?.dirty" class="error-message" >
            Prénom is required
          </div>
        </div>
        <div class="">
          <label id="lastNameLabel" for="lastName">Nom :</label>
          <input matInput type="text" id="lastName" formControlName="lastName">
          <div *ngIf="userForm.get('lastName')?.invalid && userForm.get('lastName')?.dirty" class="error-message" >
            Nom is required
          </div>
        </div>
        <div class="">
          <label>Email</label>
          <input matInput type="email" id="email" formControlName="email">
          <div  *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.dirty" class="error-message">
            Email is required and must be a valid email address
          </div>
        </div>
        <div class="">
          <label>Date de naissance</label>
          <input matInput type="date" id="birthDate" formControlName="birthDate">
          <div  *ngIf="userForm.get('birthDate')?.invalid && userForm.get('birthDate')?.dirty" class="error-message">
            Date de naissance is required
          </div>
        </div>
        <div class="">
          <label>Ville</label>
          <input matInput type="text" id="city" formControlName="city">
          <div *ngIf="userForm.get('city')?.invalid && userForm.get('city')?.dirty" class="error-message">
            Ville is required
          </div>
        </div>
        <div class="">
          <label>Code postal</label>
          <input matInput type="text" id="postalCode" formControlName="postalCode" maxlength="5">
          <div *ngIf="userForm.get('postalCode')?.invalid && userForm.get('postalCode')?.dirty" class="error-message">
            Code postal is required and must be 5 characters long
          </div>
        </div>
        <button mat-raised-button color="primary" type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
          Envoyer
        </button>
  </form>
</div>
