<button (click)="disconnectUser()" id="disconnect" class="disconnectButton">Déconnexion</button>
<div *ngIf="userService.users && userService.users.length > 0; else noUsers">
  <table class="styled-table">
    <thead>
    <tr>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Email</th>
      <th>Ville</th>
      <th>Code postal</th>
      <th>Date de naissance</th>
      <th>Role</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of userService.users">
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.city }}</td>
      <td>{{ user.postalCode }}</td>
      <td>{{ user.birthDate | date: 'dd/MM/yyyy' }}</td>
      <td>{{ user.isAdmin ? 'Admin' : 'User' }}</td>
      <td>
        <button *ngIf="!user.isAdmin" (click)="userService.deleteUser(user._id)" id="delete" class="deleteButton">Supprimer</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<ng-template #noUsers>
  <p>No users available.</p>
</ng-template>
